// Place all the styles related to the Counter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  text-align: center;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.counter__head {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}